@charset "utf-8";
main {
    max-width:800px;
    margin:auto;
}

article {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;
}

.versDiv {   
    border: 1px solid black;
    display: grid;
   
}

.kepDiv {   
    border: 1px solid black;
    display: grid;
   
}

li { 
    color: black;
    display:inline;
}

.elem {
  color: black;
}

.vers{
    border: 1px solid black;
    margin: 10pt;

}



.vers1{
border: 1px solid black;
    margin: 10pt;
    
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:400px) {
    section {        
        grid-template-columns: 1fr;        
    } 
}